
.Dashboard-status {
  width: 650px;
  margin: auto;
}


.Dashboard-statusHeader-border {
  border: solid;
  border-width: 0 0 5px 0;
  border-color: #c16ecf;
}

.Dashboard-statusHeader {
  display: flex;
  flex-flow: wrap row;
}

.Dashboard-statusHeader-col {
  flex: 1 0;
  margin: 5px;
}
